@use "imports/variables.scss" as *;

.table {
  &__heading {
    background: $purple-1;
    font-weight: $semibold;
    padding: 12px;
    border-radius: 4px 4px 0 0;
  }

  &__row {
    display: flex;

    background: $dark-blue-2;

    &:nth-child(2n) {
      background: $dark-blue-3;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }

  &__time {
    flex: 0 0 80px;
    padding: 12px 0;
    width: 80px;
    font-weight: $semibold;
    text-align: center;
    border-right: 2px solid $pink;
  }

  &__event {
    flex: 1 1 auto;
    padding: 12px;
    font-weight: $semibold;
  }

  &__description {
    font-weight: $regular;
  }
  &__description p {
    margin-bottom: 0.5rem;
  }

  &__speaker {
    font-weight: $regular;
  }
}
