<section id="about" class="section section--lightdarkblue about">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__content">
        <h1 class="about__heading">What is Euruko?</h1>

        <p>
          Euruko is a Ruby conference organised annually, each year in a
          different European city chosen by the participants.
        </p>

        <h1 class="about__heading">Euruko 2022</h1>

        <p>
          <strong>
            Euruko 2022 will be held in online and at
            <a href="https://www.paasitorni.fi/en/">Paasitorni</a> in Helsinki,
            Finland.
          </strong>
          This year we're taking a hybrid approach to the conference to make it
          equally good for both in-person and remote participants.
        </p>
      </div>
    </div>
  </div>
</section>
