<section id="location" class="section section--background">
  <img
    class="section__background"
    src="{% webpack_path images/location/history.jpg %}"
    alt="alt"
    loading="lazy"
  />
  <div class="section__background-darken-more"></div>
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__columns">
        <div class="section__small-column">
          <h1
            id="heading-location"
            class="section__heading section__heading--green"
          >
            Location
          </h1>
        </div>
        <div class="section__large-column">
          <div class="section__content">
            {{ content }}

            <a
              href="https://www.paasitorni.fi/en"
              class="section__cta"
              target="_blank"
              rel="noopener noreferrer"
              >
            Learn more about Paasitorni</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
