<section id="speakers" class="section section--darkblue speakers">
  <div class="section__container">
    <div class="section__inner-container">
      <h1
        id="heading-speakers"
        class="section__heading section__heading--orange"
      >
        Speakers
      </h1>
      <p class="section__info">
        Sign up for the newsletter to be the first to know about new speakers and the timing of the <abbr title="Call for Proposals">CFP</abbr>.
      </p>
      <div class="speakers__profiles">
        {% assign categories = "keynote, mc, normal, lightning, cfp" | split: ", " %}

        {% for category in categories %}
          {% assign speakers = collections.speakers.resources | where: "data.category", category %}
          {% for speaker in speakers %}
            {{ speaker.content }}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
