---
import { Markdown } from 'astro/components';
---
<article>
    <div class="banner">
        <p>
            <strong>
                Euruko 2022 will be held in online and at
                <a href="https://www.paasitorni.fi/en/">Paasitorni</a> in
                Helsinki, Finland.
                </strong>
                This year we're taking a hybrid approach to the conference to
                make it equally good for both in-person and remote participants.
        </p>
        <p>Sign up for the Euruko mailing list below to be first to hear any news.</p>
    </div>

    <section>
        <form
            action="https://buttondown.email/api/emails/embed-subscribe/euruko"
            method="post"
            target="popupwindow"
            onsubmit="window.open('https://buttondown.email/euruko', 'popupwindow')"
            class="embeddable-buttondown-form"
        >
            <div>
                <label for="bd-email" class="form-title">Enter your email address</label>
            </div>
            <div class="form-inputs">
                <input type="email" name="email" id="bd-email" class="form-email" placeholder="Your email address" required />
                <input type="hidden" value="1" name="embed" />
                <input type="submit" value="Subscribe" class="form-submit" />
            </div>
            <p>
                <a href="https://buttondown.email" target="_blank" rel="nofollow noopener">Powered by Buttondown.</a>
            </p>
        </form>
    </section>
</article>

<style>
    article {
        padding-top: 2em;
        line-height: 1.5;
    }
    p {
        margin-bottom: 1em;
    }
    section {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: 70ch;
    }

    form {
        padding: 3px;
        text-align: center;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
    }

    form a {
        color: #d7aaff;
        text-decoration: none;
        font-size: 0.8rem;
    }

    form div {
        margin-bottom: 0.5rem;
    }

    input {
        -webkit-appearance: none;
    }

    .form-inputs {
        display: flex;
        flex-direction: row;
    }

    .form-inputs > * {
        margin: 0.25rem;
    }

    .form-title {
        display: block;
        margin-bottom: 1rem;

        font-size: 2rem;
        font-weight: 700;
    }
    .form-email {
        display: block;
        width: 100%;
        height: 60px;
        padding: 0 24px;

        border: 2px solid white;
        border-radius: 60px;

        font-size: 18px;

        background-color: white;
    }
    .form-email:focus {
        outline: none;
        border: 2px solid #d74090;
    }
    .form-submit {
        display: block;
        width: 300px;
        max-width: 100%;
        padding: 0 24px;

        border: 0;
        border-radius: 60px;

        font-size: 20px;
        line-height: 60px;
        font-weight: 700;
        color: #ffffff;

        text-transform: uppercase;
        letter-spacing: 0.15em;

        background-color: #d74090;

        cursor: pointer;
        transition: box-shadow 150ms cubic-bezier(0.236, 0, 0.236, 1),
    }
    .form-submit:hover {
        box-shadow: 0 0 24px 0 #d74090;
    }
    .form-submit:focus {
        outline: none;
        box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.3) inset;
    }
    .form-submit[disabled] {
        background-color: transparent;
        color: #503469;
        box-shadow: inset 0 0 0 2px rgba(#503469, 0.4);
    }

    @media only screen and (max-width: 600px) {
        .form-title {
            font-size: 24px;
            margin-bottom: 24px;
        }
        .form-email {
            height: 48px;
            font-size: 16px;
        }
        .form-submit {
            line-height: 48px;
            font-size: 16px;
            width: 200px;
        }
        .form-inputs {
            flex-direction: column;
        }

        .form-inputs > *:not(:first-child) {
            margin-top: 8px;
        }

        .form-submit {
            width: 100%;
        }
    }
</style>
