---
layout: page
title: "Schedule"
description: "Preliminary Euruko 2022 schedule"
sitemap: false
published: false
---

<section id="schedule" class="section section--blue schedule">
  <div class="section__container">
    <div class="section__inner-container">
      <h1 id="heading-schedule" class="section__heading section__heading--blue">
        Schedule
      </h1>
      <p class="section__info">
        The schedule is subject to change. All times are local to Helsinki.
      </p>

      {% assign groups = collections.talks.resources | map: "group" | sort | uniq %}
      {% for group in groups %}
        <div class="schedule__table" id="{{ group | replace: " ", "-" | downcase }}">
          <div class="table">
            <div class="table__heading">
              {{ group }}
            </div>
            <div class="table__table">
              {% assign talks = collections.talks.resources | where: "data.group", group | sort: "data.start_time" %}
              {% for talk in talks %}
                <div class="table__row">
                  <div class="table__time">
                    <time datetime="{{ talk.start_time }}">
                      {{ talk.data.start_time | date: "%H:%M" }}
                    </time>
                  </div>
                  <div class="table__event">
                    {% if talk.data.linkable %}
                      <a href="{{ talk.relative_url }}">{{ talk.data.title }}</a>
                    {% else %}
                      {{ talk.data.title }}
                    {% endif %}
                    {% if talk.relations.speaker %}
                    <span class="table__speaker">({{ talk.relations.speaker.data.name }})</span>
                    {% endif %}
                    {% if talk.title %}
                    <div class="table__description">{{ talk.content }}</div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}

      <p class="schedule__calendar">
        To subscribe to the calendar feed, copy-paste the following URL to your calendar:
      </p>

      <input id="calendarUrl" class="form-url" value="https://2022.euruko.org/schedule.ics" type="url" readonly>

      <ul>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://support.google.com/calendar/answer/37100?hl=en">
            Google Calendar instructions
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://support.apple.com/en-us/HT202361">
            macOS Calendar instructions
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://support.apple.com/guide/iphone/use-multiple-calendars-iph3d1110d4/ios#iph30203de42">
            iOS Calendar instructions
          </a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://support.microsoft.com/en-us/office/import-or-subscribe-to-a-calendar-in-outlook-on-the-web-503ffaf6-7b86-44fe-8dd6-8099d95f38df">
            Outlook instructions
          </a>
          &nbsp;(subscribe, don't import)
        </li>
      </ul>
    </div>
  </div>
</section>
