<section id="info" class="section section--darkblue">
  <div class="section__container">
    <div class="section__inner-container">
      <div class="section__columns">
        <div class="section__small-column">
          <h1 id="heading-info" class="section__heading section__heading--teal">
            Additional info
          </h1>
          <%#
          <p class="section__info"></p>
          %>
        </div>
        <div class="section__large-column">
          <div class="section__content">
            <%= markdownify do %>
              The closest hotel to the venue is the [Scandic Paasi](https://www.scandichotels.com/hotels/finland/helsinki/scandic-paasi) (the buildings are connected) but as the venue is very centrally located it should be easy to reach from a whole variety of hotels in Helsinki.

              The easiest way to get to the venue (if your hotel isn't within walking distance) is probably by public transportation as the venue is reachable by metro, tram, or bus. Check the [HSL](https://www.hsl.fi/en) website for more information about public transportation in Helsinki.
            <% end %>

            <%#
              <a href="https://example.com" class="section__cta section__cta--teal">
                Example call to action
              </a>
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
