<!-- <footer>
  <span class="copyright">© {{ "now" | date: "%Y" }} {{metadata.organisation}}</span>.
  <span class="email">Email: <a href="mailto:{{metadata.email}}">{{metadata.email}}</a></span>
</footer> -->
